.header{
  background-color:#EABE3F;
  color: #000;
  text-align: center;
  padding: 10px;
}

.menu{
  display: flex;
  justify-content: space-around;
}
.menu a{
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
}

body{
  background-image: url(https://static.vecteezy.com/system/resources/previews/009/639/576/non_2x/watercolor-illustration-seamless-pattern-border-frame-honeycomb-of-yellow-color-on-a-white-background-web-banner-clip-art-on-the-theme-of-honey-bees-beekeeping-ecological-food-vector.jpg);

}

  .productos-container {
    font-size: 0; 
    overflow: auto;
  }
  
 
  .carrito-de-compras {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.producto {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h3 {
    font-size: 18px;
}

.producto p {
    font-size: 16px;
    color: #888;
}

.producto button {
    background-color: #f7c00c;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}

.resumen {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.resumen h2 {
    font-size: 20px;
    margin: 0;
}

.resumen ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.resumen p {
    font-size: 18px;
    margin: 10px 0;
}

#total {
    font-weight: bold;
    color: #007bff;
}


.footer{
  background-color: rgb(26, 26, 26);  
  color: #fff;
  padding: 10px 0px;
}

.footer-content{
  display: flex;
  justify-content: space-around;
  margin: 0px;
  align-items: center;
}

.footer-redes{
  text-align: center;
  margin: 10px;
}

.footer-redes__enlace{
  padding: 10px;
  display: inline-block;
}

.footer-derechos{
  text-align: center;
  background-color:#EABE3F ;
  padding: 5px 0;
}

.footer-redes__img{
  width: 30px;
}

.footer-logo__img{
  width: 100px;
}

  