.header {
    background-color: #EABE3F;
    color: #000;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0px;
}
  
  .menu__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  .menu__item{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .menu a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  .menu__item:hover{
    background-color: #F4D03F;
  }
  
.container-banner {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px auto;
}

.container-banner img {
    width: 100%;
    height: auto;
}

.container {
    overflow: hidden;
}

img {
    float: right;
    margin-left: 10px
}

body {
    background-color: khaki;
}

.footer {
    background-color: rgb(26, 26, 26);
    color: #fff;
    padding: 10px 0px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin: 0px;
    align-items: center;
}

.footer-redes {
    text-align: center;
    margin: 10px;
}

.footer-redes__enlace {
    padding: 10px;
    display: inline-block;
}

.footer-derechos {
    text-align: center;
    background-color: #EABE3F;
    padding: 5px 0;
}

.footer-redes__img {
    width: 30px;
}

.footer-logo__img {
    width: 100px;
}

#inicio {
    background-color: #F4D03F;
    border: radius 2px;
    background-image: url(https://i.pinimg.com/1200x/9e/0f/8d/9e0f8d902a420bcc0ca1c50b568f6a86.jpg);
}


.reseñas {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-hexagonal-degradado_23-2148956844.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699833600&semt=ais);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: 90%;

}



form {
    display: flex;
    flex-direction: column;
}



label {
    margin-bottom: 8px;
}

input,
textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #EABE3F;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.header__nav--visible {
    right: 0 !important;
}

button:hover {
    background-color: #FF0000;
}

@media screen and (max-width: 480px) { 
    .container-banner{
        height: 20vh;
    }

    .container-banner img{
       width: 300px;
    }

    .header {
        padding: 0px;
        position: static;
      }
      
      .menu__list {
        flex-direction: column;
        padding: 0px;
        margin: 0px;
      }
    
      .menu__item{
        border-bottom: 1px solid #ffe65d;
      }
      
}